<div class="col-lg-10 col-xs-12" id=contenedortexto>
<h5 id="titulo">Antes de solicitar tus vacaciones debes tener en cuenta:</h5>

<ul type="disk">
  
    <li ><p align="justify">El objetivo del módulo de vacaciones es que puedas realizar la solicitud de las mismas.  </p></li>
    <li ><p align="justify">El campo “máximo de días a solicitar”, es un valor que se actualiza a corte mensual (los primeros 7 días de cada mes),después de disfrutar las vacaciones.Si quieres conocer los días reales que tienes de vacaciones lo puedes hacer con el Área Administrativa  </p></li>
    <li ><p align="justify">Debes tener presente que el módulo permite solicitar más vacaciones de las que tienes, quedando en saldo negativo.Lo que requeriría aprobación previa.  </p></li>
    <li ><p align="justify"><b>Si tus vacaciones terminan en un mes diferente al de la fecha en que inician, debes hacer 2 solicitudes, así:</b> 
    <ul type="circle">
       <li>En la primera solicitud debes seleccionar como fecha de inicio, el día en que comienzas tus vacaciones, y como fecha fín, el último día del mes.
          </li>
          <li >En la segunda solicitud, debes seleccionar como fecha de inicio el primer dia del mes, y fecha fin, el que tienes pensado para terminar tus vacaciones.
          </li>
       </ul>
      </li>
     </ul>
    </div>