#fondo{
    background-color: #fbfbfbfb;
    border: 2px solid;
    border-color: #44434381;
    margin-left: 15%;
    margin-right: 12%;
 
  }
  #contenedor{
  margin-top: 20px;  
  margin-left: 15%;
  margin-right: 10%;  
  }
  #btns{
    margin-left: 15%;
    margin-right: 15%;  
    }
  #titulo{
    color: #acf8e9;   
    font-weight: bold;
    font-size: 14px;     
    }
    #titulo1{
      color: #117b66;  
      text-align: center; 
      font-weight: bold;
      font-size: 25px;    
      padding-top: 15px;
      padding-bottom: 15px; 
      } 
    #separador{
      background-color: #117b66;   
      height: 2.5px;
      margin-top: 1px;
      margin-bottom: 0px;
      border: 0;
      border-top: 1px solid #eee;   
      } 
   .encabezado-vacaciones{
    background-color: #fbfbfb;
    border-bottom: 1px solid #cccccc;    
    height: 100px;
    padding-top: 15px;
   } 
    
 #contenedortexto{
  text-align: justify;
  margin-left: 8%;   
  margin-bottom: 20px;
 }   
.btn{
  display: inline-block;
  align-content: center;
  background-color: #117b66;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 8px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border: none; 

 }
 .btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
  
}

.btn:hover span {
  padding-right: 25px;  
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}   
  
  